@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .invert-7 {
      filter: invert(0.7);
    }
    .invert-5 {
      filter: invert(0.5);
    }
  }
}

.body{
  overflow-x: hidden;
}
.social-bg {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width-transition {
  transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#loader-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #090919;
  color: #a0aec0;
  z-index: 1000;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  height: 3px;
}

.text-stroke {
  -webkit-text-stroke: 2px theme('colors.black');
  text-stroke: 2px theme('colors.black');
}
.text-stroke-base {
  -webkit-text-stroke: 2px theme('colors.base');
  text-stroke: 2px theme('colors.base');
}
.text-stroke-secondary {
  -webkit-text-stroke: 2px theme('colors.secondary');
  text-stroke: 2px theme('colors.secondary');
}

.text-stroke-white {
  -webkit-text-stroke: 2px theme('colors.gray.300');
  text-stroke: 2px theme('colors.gray.300');
}
.text-stroke-transparent {
  -webkit-text-stroke: 2px transparent;
  text-stroke: 2px transparent;
}
.rotateme-45 {
  @apply bg-white;
  animation: rotate-45 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.rotateme-45-back {
  animation: rotate-45-back 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes rotate-45 {
  0% {
    transform: rotate(0) translateY(0);
    @apply bg-white;
  }
  100% {
    transform: rotate(-45deg) translateY(-0.25rem);
    @apply bg-black;
  }
}

@keyframes rotate-45-back {
  0% {
    transform: rotate(-45deg) translateY(-0.25rem);
    @apply bg-black;
  }
  100% {
    transform: rotate(0) translateY(3px);
    @apply bg-white;
  }
}

.rotateme45 {
  @apply bg-white;
  animation: 1s rotate45 cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.rotateme45-back {
  animation: 1s rotate45back cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes rotate45 {
  0% {
    transform: rotate(0);
    @apply bg-white;
  }
  100% {
    transform: rotate(45deg);
    @apply bg-black;
  }
}

@keyframes rotate45back {
  0% {
    transform: rotate(45deg);
    @apply bg-black;
  }
  100% {
    transform: rotate(0) translateY(-3px);
    @apply bg-white;
  }
}

.nav-bg-in {
  animation: 1s nav-in cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: translateY(-100vh) rotateZ(15deg);
  transform-style: preserve-3d;
}
@keyframes nav-in {
  0% {
    transfrom: translateY(-100vh) rotateZ(15deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
/*
About Us
*/
.about_us_image {
  max-height: 35vh;
}
.image2 {
  height: 50%;
  position: absolute;
  top: 30%;
  left: 70%;
  display: flex;
  justify-content: end;
  filter: grayscale(0.8);
  z-index: 0;
}
.grayeffect {
  filter: grayscale(1);
}
.image2 img {
  height: 100%;
}
/*
*  For sigup modal
*/
#modal {
  /*border: 1px solid #2d2d2d;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: opacity 0.3s ease-in-out;
}
.nl-link {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.nl-link:before,
.nl-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}
.nl-link:after {
  @apply bg-base;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.8s ease;
}
.nl-link:hover:after {
  transform-origin: left;
  transform: translate3d(100%, 0, 0);
}
.content {
  position: relative;
  max-width: calc(100% - 12px);
  max-height: calc(100% - 12px);
  border-radius: 3px;
  width: 580px;
  height: auto;
  min-height: 260px;
  overflow: auto;
  background: #09111d;
  transition: all 0.3s ease-in-out;
  padding: 36px;
  text-align: center;
}
.content .title {
  display: block;
  font-size: 24px !important;
  line-height: 1.25;
  font-weight: 500 !important;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px !important;
  margin-top: 0px !important;
}
.content .field input {
  display: inline;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #09111d;
  border-width: 0 0 2px;
  transition: all 0.3s ease;
  margin-top: 10%;
}
.close-button {
  background: #09111d;
  border-width: 0;
}
.flex-item {
  display: flex;
}
.field {
  display: flex;
  align-items: flex-end;
}
.close-button {
  padding: 1%;
}
#back-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
/*
* Socials 
*/

.invert_social {
  filter: invert(0.7);
}

.desc {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail {
  position: absolute;
  bottom: 0%;
  font-size: small;
}
.event_title {
  font-size: 3rem;
  line-height: 0.25;
  font-weight: bolder;
}

.avatar:hover .desc {
  opacity: 1;
  transition: ease-in-out;
  transition-duration: 1000ms;
}

.md_640px {
  display: none;
}

/* if mobile device max width 480px */
@media only screen and (max-width: 640px) {
  .md_640px {
    display: block;
    padding: 2;
    width: 100%;
    color: white;
    text-align: center;
  }
  .desc {
    display: none;
  }
}

.sponsors-logo {
  width: auto;
  max-width: 60%;
  max-height: 85%;
}
/*
* Event Selection Landing Page 
*/
/* .video-container::before {
  content: '';
  @apply absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

video {
  object-fit: cover;
}
.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.image_aboutus {
  filter: grayscale(0.5);
  border-top: whitesmoke 20px solid;
  border-left: whitesmoke 20px solid;
  border-right: whitesmoke 20px solid;
  border-bottom: whitesmoke 100px solid;
  position: absolute;
  right: 0;
  opacity: 0.5;
  width: 66%;
  transform: rotateZ(-15deg);
}
@media screen and (max-width: 450px) {
  .image_aboutus {
    filter: grayscale(0.4);
    bottom: 10%;
    left: 0;
    right: auto;
    opacity: 0.3;
    width: 100%;
  }
}
.h-50vh {
  height: 50vh;
}
h1.line-height125 {
  line-height: 1.25em;
}
.strike {
  top: calc(50% - 5px);
  transform: translateX(-100vw);
}
.hide-dates {
  transform: translateY(2em);
}
.hide-dates-wrapper {
  height: 2em;
}

.dots-wrapper {
  /* top: 0; */
  /* left: -50vw; */
}
.dot {
  @apply bg-base-light;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
}

.dot-me {
  height: 5vw;
  width: 5vw;
  bottom: 40vh;
  left: 47vw;
  border-radius: 50%;
  position: fixed;
  @apply bg-secondary;
}

.hand-text {
  @apply text-gray-400;
  position: fixed;
  @apply text-2xl;
  bottom: calc(5vh + 5vw + 2em);
  opacity: 0;
  text-align: center;
  width: 100vw;
  left: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  .img_greyscale {
    filter: grayscale(1);
  }

  .imgtransition {
    animation: 0.5s img_transform forwards;
  }

  .text_transition {
    animation: 0.5s text_transform forwards;
  }
}

@keyframes img_transform {
  0% {
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes text_transform {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.img_padding {
  padding-top: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .max_img_size {
    max-width: 300px;
    padding-top: min(300px, 100%);
  }
}

@media only screen and (min-width: 769px) {
  .max_img_size {
    max-width: 350px;
    padding-top: min(350px, 100%);
  }
}

.icons_invert {
  filter: invert(0.7);
  @media only screen and (max-width: 720px) {
    .hero__content h1 {
      font-size: 70px;
      line-height: 70px;
    }
  }
}
@media only screen and (min-width: 1281px) {
  .icon_size {
    padding-left: 23%;
    padding-right: 23%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1180px) {
  .icon_size {
    padding-left: 26%;
    padding-right: 26%;
  }
}

@media only screen and (max-width: 1180px) and (min-width: 1024px) {
  .icon_size {
    padding-left: 23%;
    padding-right: 23%;
  }
}

/* @media only screen and (max-width: 999px) and (min-width: 868px) {
    .icon_size {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media only screen and (max-width: 867px) and (min-width: 768px) {
  .icon_size {
      padding-left: 13%;
      padding-right: 13%;
  }
}
 */

@media only screen and (max-width: 1023px) and (min-width: 640px) {
  .icon_padding {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media only screen and (max-width: 639px) and (min-width: 450px) {
  .icon_padding {
    padding-left: 26%;
    padding-right: 26%;
  }
}

@media only screen and (max-width: 449px) {
  .icon_padding {
    padding-left: 17%;
    padding-right: 17%;
  }
/* -------------FAQs------------- */

.tabs__tab:after {
  margin-top: 8px;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -1;
  width: 100%;
  height: 2px;
  background: linear-gradient(87.54deg, #9867f0 -6.8%, #ed4e50 84.14%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.tabs__tab:hover:after {
  -webkit-transform: scaleX(0.4);
  transform: scaleX(0.4);
}

.current__tab:after {
  -webkit-transform: scaleX(0.9) !important;
  transform: scaleX(0.9) !important;
}

.toggler_active {
  transform: rotateZ(-180deg);
}
}
